{%load static %}
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-3">
            <!-- <img src="{%static 'img/'|add:blog.image%}" alt="" class="img-fluid rounded-start "> Django filters // uploads klasörünü eklemeden önce--> 
            <img src="{{blog.image.url}}" alt="" class="img-fluid rounded-start ">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">
                   <!-- slug bilgisi geldikten sonra değişti.  <a href="{% url 'blog_details' blog.id %}">{{ blog.title}}</a> --> 
                   <a href="{% url 'blog_details' blog.slug %}">{{ blog.title}}</a>
                    </h5>
                <p class="card-text">{{blog.descriptions|striptags|slice:"0:50"}}</p>
            </div>
            
        </div>
    </div>
</div>